<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite de pruebas" thread-count="1" parallel="tests">

    <test name="Test GetSingleObject">
        <classes>
            <class name="test.apiPublica.GetSingleObject"> </class>
        </classes>
    </test>

    <test name="Test Get Objects">
        <classes>
            <class name="test.apiPublica.GetObjects"> </class>
        </classes>
    </test>
    <test name="Test create Objects">
        <classes>
            <class name="test.apiPublica.CreateObject"> </class>
        </classes>
    </test>
    <test name="Test Update">
        <classes>
            <class name="test.apiPublica.UpdateObject"> </class>
        </classes>
    </test>
    <test name="Test Update parcial">
        <classes>
            <class name="test.apiPublica.UpdatePartiallyObject"> </class>
        </classes>
    </test>
</suite>